//colors
$primaryColor: #0066cc;
// #0066cc
$secondaryColor: #ffcc00;
$black: #000000;
$white: #F9F9F9;
$lightGrey: #eeeeee;
$grey: #353435;

//fonts
$mainFont: "Liberteen";
$logoFont: "Vast Shadow";
$logoFont2: "Merriweather";
// $logoFont3: 'Merriweather', italic;
$fontKoulen: "Koulen";

//screens
$tablet: "min-width: 762px";
$desktop: "min-width: 1024px";
$desktopL: "min-width: 1440px";

//shadow

$shadow: 0px 0px 26px 0 rgba(3, 3, 3, 0.2);
//0px 0px 26px 0 rgba(3, 3, 3, 0.2)
